@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .articles {
    @apply flex flex-col;
  }
  .header {
    @apply text-3xl;
  }
  .review {
    @apply flex flex-col items-center text-center;
  }
  .reviewName {
    @apply font-bold text-2xl;
  }
  .articlesImg {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px 60px;
    margin-bottom: 15px;
  }
  .input
      {
        @apply appearance-none block w-full border rounded py-3 px-4 mb-3;
      }
  
      .label_input
      {
          @apply block uppercase tracking-wide text-xs font-bold mb-2;
      }
}
